<h1>Revise Your Entry</h1>

<%= render 'shared/flash_messages' %>

<div class="container">
    <%= simple_form_for @ledger, method: :patch do |f| %>
        <%= f.input :title, as: :string %>
        
        <%= f.input :amount, as: :integer %>
        
        <%= f.input :date, as: :date, class: "form-inline" %>
        
        <%= f.submit 'Update', class: 'btn btn-primary' %>
    <% end %>
</div>