<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">All Ledger</a>
    </div>
    
    <div class="navbar-collapse collapse-in" id="bs-example-navbar-collapse-1" aria-expanded="true">
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'New Entery' %></li>
        </ul>
    </div>
    
  </div>
</nav>


<div class="container">
    <h1>Balance:</h1>
    <h1>Debt:</h1>
    <h1>Total:</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Amount</th>
                <th></th>
                <th></th>
            </tr>
            
            <% @ledgers.each do |ledger| %>
            <tr>
                <td><%= ledger.date %></td>
                <td><%= ledger.title %></td>
                <td><%= ledger.amount %></td>
                <td>
                    <%= link_to 'Edit' %>
                </td>
                <td>
                    <%= link_to 'Delete' %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= simple_form_for Ledger.new do |f| %>
  <%= f.input :title %>
  <%= f.input :amount %>
  <%= f.input :date %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>