<div class="container">
    <h1>Balance: <%= @blnc %></h1>
    <h1>Debt: <%= @dbt %></h1>
    <h1>Total: <%= @amt %></h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Amount</th>
                <th></th>
                <th></th>
            </tr>
            
            <% @ledgers.each do |ledger| %>
            <tr>
                <td><%= ledger.date %></td>
                <td><%= ledger.title %></td>
                <td><%= ledger.amount %></td>
                <td>
                    <%= link_to 'Edit', edit_ledger_path(ledger), class: "btn btn-warning" %>
                </td>
                <td>
                    <%= link_to 'Delete', ledger_path(ledger), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>