<div class="container">
    <%= simple_form_for :ledger, url: Ledger.new do |f| %>
        <%= f.input :title, as: :string %>
        
        <%= f.input :amount, as: :integer %>
        
        <%= f.input :date, as: :date, class: "form-control form-inline" %>
        
        <%= f.submit 'Create Record', class: 'btn btn-success' %>
    <% end %>
</div>